.tambah-wrapper {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.tambah-wrapper form {
    display: flex;
    flex-direction: column;
}

.tambah-wrapper label {
    padding-bottom: 5px;
    margin-left: 0;
    margin-right: auto;
    font-weight: 500;
}

.tambah-wrapper input {
    height: 30px;
}

.tambah-wrapper input[type=text], input[type=email] {
    padding-left: 10px;
    padding-right: 10px;
}

.tambah-wrapper button {
    margin-top: 20px;
    height: 30px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
