.App {
  text-align: center;
  height: 100%;
  width: 70%;
  padding-top: 0px;
  margin-left: auto;
  margin-right: auto;
}

.App header {
  padding-top: 1px;
  padding-bottom: 1px;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid;
}

.App .App-header a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
